# Android
.gradle/
.idea/
local.properties
.DS_Store
/build
/captures
*.iml

# Kotlin
*.class
*.jar
*.war
*.log

# IntelliJ
*.iws
*.ipr
*.bak
out/

# System
Thumbs.db
ehthumbs.db
desktop.ini
*.swp
*.swo
